body {
    font-family: Arial, sans-serif;
    background-color: #545454;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #444;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

/* تنسيق القسم */
section {
    background-color: #878787;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* تنسيق الفوتر */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}
